@using LawOfWriter.DTO
@inject IDialogService DialogService

<h3>GameDetails</h3>
<h3>@GameDay.GameDayDto.Id</h3>

<MudDataGrid T="GameDayActionDto" Items="@GameDay.GameDayActionDtos"
            RowClick="@OnRowClick"
            RowHover="true">
    <Columns>
        <PropertyColumn Property="x=>x.User!.FullName" Title="Name" />
        <PropertyColumn Property="x=>x.Band" Title="Band" HeaderClass="hide-on-mobile" CellClass="hide-on-mobile" />
        <PropertyColumn Property="x=>x.Pumpe" Title="Pumpe" HeaderClass="hide-on-mobile" CellClass="hide-on-mobile" />
        <PropertyColumn Property="x=>x.Kranz" Title="Kranz" HeaderClass="hide-on-mobile" CellClass="hide-on-mobile" />
        <PropertyColumn Property="x=>x.Neuner" Title="Neuner" HeaderClass="hide-on-mobile" CellClass="hide-on-mobile" />
        <PropertyColumn Property="x=>x.Spiele" Title="Spiele" HeaderClass="hide-on-mobile" CellClass="hide-on-mobile" />
        <PropertyColumn Property="x=>x.Gesamt" Title="Gesamt" HeaderClass="hide-on-mobile" CellClass="hide-on-mobile" />
        <TemplateColumn Title="Aktionen" HeaderClass="hide-on-mobile" CellClass="hide-on-mobile">
            <CellTemplate>
                <MudIconButton Icon="@Icons.Material.Filled.Edit" 
                               Color="Color.Primary" 
                               Size="Size.Small"
                               OnClick="@(() => OpenEditDialog(context.Item))"/>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

<style>
    /* Smartphone: nur FullName anzeigen */
    @@media (max-width: 600px) {
        .hide-on-mobile {
            display: none !important;
        }
    }
</style>

@code {
    [Parameter] public required GameApiDto GameDay { get; set; }
    
    private async Task OpenEditDialog(GameDayActionDto item)
    {
        var parameters = new DialogParameters<EditGameActionDialog>
        {
            { x => x.GameAction, item }
        };
        
        var options = new DialogOptions 
        { 
            CloseButton = true, 
            MaxWidth = MaxWidth.Medium,
            FullWidth = true 
        };
        
        var dialog = await DialogService.ShowAsync<EditGameActionDialog>("Datensatz bearbeiten", parameters, options);
        var result = await dialog.Result;
        
        if (result is not { Canceled: true })
        {
            // Optional: Hier können Sie die Daten aktualisieren oder speichern
            StateHasChanged();
        }
    }

    private Task OnRowClick(DataGridRowClickEventArgs<GameDayActionDto> args)
        => OpenEditDialog(args.Item);
}